/*   STATES
 **************/



/* General Hover States */

a {
	@include transition(color)
	&:hover,
	&:active,
	&:focus {
		color: $hover;
	}
}

svg {
	@include transition(transform)
	&:hover,
	&:active,
	&:focus {
		color: $hover;
	}
}

button {
	@include transition(background-color)
}



/* Color Transition */

#page {
	@include transition(background-color);
}



/* Margin Transition */

@media (min-width: $m) {
	.marginin {
		animation-duration: .4s;
		transition-timing-function: ease-in;
		animation-fill-mode: both;
		animation-name: marginIn;
	}
}



/* Keyframes */

@keyframes marginIn {
	
	0% {
		margin: 0;
	}

	100% {
		margin: 2.2em;
	}

}



/* Mobile Menu */

@media (max-width: $m) {

	.menu {
		display: none;
		
		a {
			opacity: 0;
		}
	}

	.mobile-menu {
		display: flex;
		font-family: $stack-san-serif;
	}

	.is-menu-active {
		background-color: $blush;
		display: flex;
		flex-direction: column;
		left: 0;
		height: 100vh;
		padding-top: 5em;
		position: fixed;
		top: 0;		
		width: 100vw;
		z-index: 99999;

		a {
			font-family: $stack-serif;
			font-size: $large;
			margin: 4px;
		}

	}
}




