/*   STATES
 **************/



/* General Hover States */

a {
	@include transition(color)
	&:hover,
	&:active,
	&:focus {
		color: $hover;
	}
}

svg {
	@include transition(transform)
	&:hover,
	&:active,
	&:focus {
		color: $hover;
	}
}

button {
	@include transition(background-color)
	@include transition(color)
}



/* Color Transition */

#page {
	@include transition(background-color);
}



/* Margin Transition */

@media (min-width: $m) {
	.marginin {
		animation-duration: .4s;
		transition-timing-function: ease-in;
		animation-fill-mode: both;
		animation-name: marginIn;
	}
}

@keyframes marginIn {
	
	0% {
		margin: 0;
	}

	100% {
		margin: 2.2em;
	}

}



/* Mobile Menu */

@media (max-width: $m) {

	.menu {
		display: none;
		
		a {
			opacity: 0;
		}
	}

	.mobile-menu {
		display: flex;
		font-family: $stack-san-serif;
	}

	.is-menu-active {
		background-color: $blush;
		display: flex;
		flex-direction: column;
		left: 0;
		height: 100vh;
		padding-top: 5em;
		position: fixed;
		top: 0;		
		width: 100vw;
		z-index: 99999;

		a {
			font-family: $stack-serif;
			font-size: $large;
			margin: 4px;
		}

	}
}



/* Scroll Text */

.scroll-text {
	display: none;
}

@media (min-width:$m) {

	.scroll-text {
		display: block;
	}

}

.scroll-text {

	p {
		position: relative;
	}

	p:after {
		animation: 1s ease 1s 10 underline;
		background-color: $rouge;
		bottom: 0;
		content: '';
		height: 2px;
		left: 0;
		position: absolute;
	}

}

@keyframes underline {

	0% {
		width: 0%;
	}

	100% {
		width: 100%;
	}

}



/* Slider States */

.slider__item {
	opacity: .5;
	transform: scale(.9);
	@include transition(opacity);
	@include transition(transform);
}

.is-slider-active {
	opacity: 1;
	transform: scale(1);
}

.slider {
	@include transition(transform);
}



/* Form States */


input:not([type='submit']),
textarea {
	border-bottom: $dark-grey 1px solid;
}

.wpcf7-form-control-wrap {
	display: block;
	position: relative;

	&:hover,
	&:focus {

		&:after {
			width: 100%;
		}
	}
}

.wpcf7-form-control-wrap:after {
	@include transition(width)
	content: '';
	background-color: $rouge;
	position: absolute;
	height: 2px;
	left: 0;
	right: 0;
	width: 0%;
	bottom: 0;
	z-index: 2;
}





