/*   STATES
 **************/



/* General Hover States */

a {
	@include transition(color)
	&:hover,
	&:active,
	&:focus {
		color: $hover;
	}
}

svg {
	@include transition(transform)
	&:hover,
	&:active,
	&:focus {
		color: $hover;
	}
}

/* SVG */

// Colleen SVG

.colleen-icon {

	.hair { 
		//animation: wind 4.5s ease infinite;
		transform-origin: bottom;
	}

}

@keyframes wind {

  70% {
    transform: skewX(-7deg);
  }

}

