/*      THEME
 ********************/


/* Front Page */

.page-template-front-page {

	#page {
		background-color: $mint;
	}

}

.single-portfolio {

	.border-top,
	.border-bottom {
		border-color: $light-cream;
	}

	background-color: $light-cream;

	#page {
		background-color: $white;
	}

}



