/*      THEME
 ********************/


/* Front Page */

.page-template-front-page {
	#page {
		background-color: $mint;
	}
}

.single-portfolio {
	#page {
		background-color: $white;
	}
}

.error404 {
	#page {
		background-color: $blush;
	}

	.chapter {
		margin-top: 0;
	}
}



