/*     VARIABLES
 *******************/



/* Sizes */

$footer-height: 163px;



/* Colors */

// Descriptive color variables 

$white          : #fff;
$black          : #000;
$dark-grey      : #313131;
$cream          : #f9eddd;
$light-cream    : #faf4ec;
$med-cream      : #ebdfd3;
$rouge          : #d18d83;
$coral          : #fec8ba;
$othercoral     : #ffc8b9;
$blush          : #f0d6ca;
$green          : #21492f;
$gold           : #af9269;
$mint           : #d5dddf;
$light-mint     : #eff2f3;
$oatmeal        : #f3eeeb; 

// Functional color variables

$link               : $rouge;
$hover              : $mint;
$text               : $dark-grey;



/* Fonts */

$stack-san-serif: 'Lato', sans-serif;
$stack-serif : 'Cormorant Garamond', serif;



/* Font Size */

$xsmall: 14px;
$small:  18px;
$medium: 24px;
$large:  34px;
$xlarge: 48px;
$xxlarge: 64px;



/* Breakpoints */

$xl: 1200px;
$l: 1000px;
$m: 850px;
$s: 740px;
$xs: 500px;

