/*      HEADER 
 ********************/

.site-header {
 	display: flex;
 	justify-content: space-between;
 	position: fixed;
 	top: 0;
 	width: 100%;
 	z-index: 10000;
}

@media (min-width: $m) {
	.site-header {
		width: calc(100% - 4em);
	}
}

.logo,
.access {
	display: flex;
}

.logo {
	color: $dark-grey;
	font-family: $stack-san-serif;
}

.access {
	display: flex;
	justify-content: center;
	text-align: center;
}

.menu {
	display: flex;

	a {
		opacity: 1;
	}
}

.mobile-menu {
	display: none;
}

.site-header {
	a {
		display: block;
		color: $dark-grey;
		margin: .6em 1em;

		&:hover,
		&:focus {
			color: $rouge;
		}
	}
}
