/*   MAIN 
 ************/



/* Decorations */


.boxshadow {
	box-shadow: 0 10px 20px rgba(0,0,0,.1), 0 5px 10px rgba(0,0,0,.05);
}



/* Buttons */

.pink-button {
	@include transition(background-color)
	background-color: $white;
	border: 1px solid $link;
	color: $link;
	font-family: $stack-san-serif;
	text-transform: uppercase;
	text-align: center;
	width: 100px;
	
	&:hover {
		background-color: $rouge;
		color: $hover;
	}

	a {
		display: block;
		font-family: $stack-san-serif;
		text-transform: uppercase;
		padding: .5em;
	}
}

.simple-button {
	background: none;
	display: block;
	margin: 3em auto 1em;
	text-align: center;

	a {
		color: $dark-grey;
		display: block;
		font-family: $stack-serif;
	}
}

.slider__buttons {
	display: flex;
	justify-content: space-around;
	margin: 0 auto;
	padding: 1em;
	width: 100%;

	button {
		background: none;
		color: $text;
		font-family: $stack-san-serif;
		text-transform: uppercase;
		&:hover {
			color: $hover;
		}
	}
}



/* Border */

.border-top, 
.border-bottom {
	content: "";
	left: 0;
	right: 0;
	position: fixed;
	width: 100vw;
	z-index: 1000;
}

.border-top {
	border-top: 2.5em solid $white;
	box-shadow: 0 2px 2px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.05);
	top: 0;
}

@media (min-width: $m) {
	.border-bottom {
		border-bottom: 2.2em solid $white;
		bottom: 0;
	}

	.border-top {
		border-top: 2.2em solid $white;
		box-shadow: none;
	}
}



/* Scroll Text */

.scroll-text {
	bottom: 5em;
	font-style: italic;
	position: fixed;
	right: 3em;
	transform: rotate(90deg);
}



/* Front Page */

.hero,
.chapter {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 4em);
	width: 100%;
}

@media (min-width: $m) {
	.hero {
		height: calc(100vh - 4em);
	}
}

.hero, 
.intro {
	justify-content: center;
}

.hero {
	&__wrapper,
	&__text {
		height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		font-size: $xxlarge;
		font-weight: 700;
		text-align: center;
	}

	&__text {
		font-size: $medium;
		font-style: italic;
		margin: 1em 0;
		text-align: center;
		width: 90%;
	}
}

@media (min-width: $s) {
	.hero {
		&__wrapper,
		&__text {
			font-size: $large;
			height: auto;
		}

		&__text {
			max-width: 30em;
		}

		&__title {
			font-size: $xxxlarge;
		}
	}
}



/* Chapter */

.chapter:not(:first-child) {
	padding-top: 4.5em;
	margin: 20px 0 100px;
}

.chapter {
	&__heading {
  display: table;
  position: relative;
  text-align: center;
  white-space: nowrap;
  width: 80%;

	  &:before, 
	  &:after {
	    border-top: 1px solid $black;
	    content: '';
	    display: table-cell;
	    position: absolute;
	    top: 0.5em;
	    width: 28%;
	  }

	  &:before { 
	  	right: -4%; 
	  }
	  &:after { 
	  	left: -4%; 
	  }
	}
}

@media (min-width: $s) {

	.chapter__heading {
		&:before,
		&:after {
			width: 40%;
		}

		&:before { 
	  	right: -3.5%; 
	  }
	  &:after { 
	  	left: -3.5%; 
	  }
	}

}

@media (min-width: $m) {

	.chapter__heading {
		&:before,
		&:after {
			width: 43%;
		}
	}
	
}



/* Item */

.item {
	@include clearfix;
	padding: 80px 0;
	position: relative;

	&__content {
		display: flex;
		flex-direction: column;
		@include clearfix;
		margin: 0 2%;
	}

	&__text {
		background: rgba(255,255,255,.8);
		border-right: 4px solid $black;
		@include clearfix;
		margin: 2em auto;
		max-width: 30em;
		padding: 1.5em;
		position: relative;
		text-align: right;
		z-index: 1;

		h3 {
			font-weight: 700;
			padding: 2px 0;
		}

		h4 {
			position: absolute;
			top: -2.5em;
			left: 1em;
		}

		p {
			font-style: italic;
			font-size: $small;
			padding: .4em 0;
		}
	}

	&__links {
		display: flex;
		font-family: $stack-san-serif;
		font-size: $small;
		font-weight: 100;
		justify-content: center;
		margin: 1.5em auto;
		text-align: center;
		text-transform: uppercase;
		width: 100%;

		a {
			padding: 2em;
		}
	}

	&__figure {
		@include clearfix;
		margin: 0 auto;
		width: 90%;
	}

}

@media (min-width: $l) {

	.item {

		width: 100%;
		
		&__content {
			display: block;
		}

		&__text {
			border-right: none;
			border-bottom: 4px solid $black;
			float: left;
			padding: 3em 2em;
			margin: 0;
			text-align: left;
			width: 43%;

			h4 {
				bottom: -30px;
				left: -110px;
				top: inherit;
				transform: rotate(-90deg);
			}

			p {
				font-size: $medium;
			}

		}

		&__links {
			width: 60%;
		}

		&__figure {
			float: right;
			width: 55%;
		}

		h3 {
			padding: .5em 0;
		}

	}

	.item:nth-child(odd) {
		.item__text {
			float: right;

			h3, p {
				text-align: right;
			}

			h4 {
				left: inherit;
				right: -110px;
				transform: rotate(90deg);
			}
		}

		.item__figure {
			float: left;
		}
	}
	
}



/* List */

.list {

	li {
		font-family: $stack-serif;
		margin: 120px auto 180px;
		text-align: center;
	}

	&__num,
	p {
		margin: 2em auto;
	}

	&__num {
		font-size: $xlarge;
		padding: 0 .5em;
		border-top: 2px solid $black;
	}

	p {
		font-size: $smedium;
		width: 90%;
	}

	svg {
		width: 90px;
	}

	.eiffel {
		width: 120px;
	}

}

@media (min-width: $m) {
	.list {

		p {
			font-size: $medium;
			max-width: 26em;
		}

		&__num {
			font-size: $xxlarge;
		}

	}
}



/* Logo SVG */

.logo-foliage {
	margin: 0 auto;
	width: 280px;
	
	.fern {
		fill: none;
		stroke: $black;
	}

	.pink-flower {
		fill: $mint;
		stroke: $black;
	}

	.vines {
		stroke: $black;
	}

	.white-flower {
		fill: $mint;
		stroke: $black;
	}
}

@media (min-width: $m) {
	.logo-foliage {
		width: 320px;
	}
}



/* Individual Fern SVG */

.ferns-full {
	width: 100px;
	height: 50px;
	margin: .5em 0;
}



/* Services */

.banner {
	font-size: $medium;
	font-style: italic;
	margin: 1em;
	max-width: 25em;
	text-align: center;
}

@media (min-width: $m) {
	.banner {
		font-size: $large;
	}
}

.services__list {
	display: flex;
	flex-direction: column;
	padding: 1em;
	justify-content: space-between;

	li {
		background-color: $white;
		border-left: 3px solid $black;
		margin: 1em 0;		
		padding: 1.2em;
		text-align: left;
	}

	p {
		font-size: $small;
		max-width: 22em;
	}

}

@media (min-width: $m) {
	.services__list {
		flex-direction: row;
		width: 100%;

		li {
			margin: .5em;
		}

	}
}



/* Portfolio */

.portfolio__item {
	margin: 0 auto 4em;
	overflow: hidden;

	figure {
		margin: 1.5em auto;
	}

}

.portfolio__container {
	width: 80%;
	margin: 2em auto;
}

@media (min-width: $m) {
	.portfolio__container {
		width: 70%;
		margin: 4.5em auto;
	}
}

.imac {
	max-width: 600px;
}

.details {
	align-items: center;
	background-color: $oatmeal;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 100px 1em;
	transform-origin: top;

	h4 {
		text-align: center;
	}

	&__text {
		display: flex;
		flex-direction: column;
		margin-bottom: 5em;
		width: 90%;

		&-left, &-right {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&-left {
			border-top: 2px solid $dark-grey;
			padding: 1.5em 0;
			text-align: left;
			width: 100%;

			h1 {
				margin-bottom: .2em;
				text-align: center;
			}
		}

		&-right {
			text-align: center;
			width: 100%;

			p {
				font-family: $stack-serif;
				font-size: $smedium;
				font-style: italic;
				max-width: 24em;
			}
		}
	}
}

@media (min-width: $m) {
	
	.details {

		&__text {
			flex-direction: row;

			&-left {
				border-top: none;
				border-right: 2px solid $dark-grey;
				width: 42%;
				padding-right: 2em;
			}

			&-right {
				max-width: 33em;
				padding-left: 2em;
				text-align: left;
				width: auto;

				p {
					font-size: $medium;
				}
			}
		}

	}

}

.tile {
	margin: 1em auto;
	width: 45%;
}

@media (min-width: $m) {

	.tile {
		display: inline-block;
		width: 24%;
		margin: 0 4.4%;
	}

}



/* Slider */

.slider {
	display: flex;
	position: relative;
}

@media (min-width: $m) {
	.slider {
		margin-left: -2.2em;
	}
}

.slider__item {
	width: 70vw;
	top: 0;
	left: 0;
}



/* Kitten Image */

.kitten {
	margin: 1em auto;
	max-width: 640px;
	width: 50%;
}



/* Blog */

.page-header,
.archive-header {
	align-items: center;
  display: flex;
  flex-direction: column;
  margin: 5em auto 2em;
}

.page-title,
.archive-title {
	font-size: $xxlarge;
	letter-spacing: 1px;
	text-transform: none;
}



/* Main Journal Page */

.journal-content {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	width: 90%;

	.entry-title {
		font-size: $small;
		margin: 1.5em 1em;
	  padding: .5em;
	  text-align: center;

		a {
			color: $dark-grey;
		}
	}

	.entry-thumbnail {
		border-left: 3px solid $dark-grey;
		position: relative;
		overflow: hidden;
	}

	.entry-caption {
		background-color: $white;
		height: 100%;
		left: 0;
		padding: 2em;
		position: absolute;
		overflow: hidden;
		top: 0;	
		width: 100%;
		z-index: 1;
	}

	.entry-excerpt {
		font-family: $stack-serif;
		font-size: $large;
		font-style: italic;
		text-transform: none;
	}

	.post {
		margin: 1em auto;
	}

}

@media (min-width: $s) {

	.journal-content .post {
		padding: .5em;
		width: 45%;
	}

}



/* Single Post Styles */

.single {

	.entry-content {
		max-width: 600px;
		position: relative;
		margin: 1em auto;

		p {
			font-family: $stack-san-serif;
			margin: 1em 0;
		}
	}

	.entry-header {
		margin: 0 0 1em;
	}

	.entry-thumbnail {
		max-width: 700px;
		margin: 4em auto 3em;
		position: relative;
	}

	.entry-date {
		font-size: $medium;
		font-style: italic;
	}

	.entry-title {
		font-size: $xlarge;
		text-transform: none;
		text-decoration: underline;

		a {
			color: $dark-grey;
		}
	}

	.post-categories {
		display: none;
	}

}

@media (min-width: $s) {

	.single {
		.entry-date {
			font-size: $large;
		}

		.entry-title {
			font-size: $xxlarge;
		}
	}

}

@media (min-width: $l) {
	
	.single {
		.post-categories {
			display: block;
			position: absolute;
	    transform: rotate(90deg);
	    transform-origin: right;
	    top: 200px;
	    right: -10%;

	    li {
	    	font-size: $medium;
	    	text-transform: uppercase;
	    }
		}
	}

}



/* Pagination */

.nav-below {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 3em 0 6em;
	width: 100%;

	a {
		color: $dark-grey;
	}
}

.nav-previous,
.nav-next {
	background-color: $white;
	font-size: $medium;
	margin: .5em;
	padding: .5em;

	text-align: center;
}

.nav-previous {
	border-left: 3px solid $dark-grey;
}

.nav-next {
	border-right: 3px solid $dark-grey;
}

@media (min-width: $m) {
	.nav-below {
		flex-direction: row;
		justify-content: space-between;
	}
}



/* Newsletter */

.newsletter {
	background-color: $mint;
	border-top: 3px solid $dark-grey;
	display: flex;
	flex-direction: column;
	padding: 4em 2em;
	margin: 2em auto;
	width: 80%;

	&__header {
		font-style: italic;
		font-size: $xlarge;
	}

	&__form {
		
		label {
			font-family: $stack-san-serif;
		}

		input {
			margin: .5em 0;
		}
	}
}

.widget {
	text-align: center;
	margin: .5em;
}

@media (min-width: $s) {
	.newsletter {
		flex-direction: row;
		margin: 4em auto;

		&__header {
			font-size: $xxlarge;
		}
	}

	.widget {
		width: 50%;
	}
}





