/*   MAIN 
 ************/



/* Button */

.pink-button {
	background-color: $white;
	margin-top: 5em;
	width: 100px;
	
	&:hover {
		background-color: $rouge;
	}

	a {
		font-family: $stack-san-serif;
		text-transform: uppercase;
		padding: .5em;
	}
}



/* Border */

.border-top, 
.border-bottom {
	content: "";
	left: 0;
	right: 0;
	position: fixed;
	width: 100vw;
	z-index: 1000;
}

.border-top {
	border-top: 2em solid $white;
	top: 0;
}

.border-bottom {
	border-bottom: 2em solid $white;
	bottom: 0;
}



/* Front Page */

.hero,
.intro,
.chapter {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: calc(100vh - 4em);
	width: 100%;

}

.hero, 
.intro {
	justify-content: center;
}

.hero {
	&__title {
		font-size: $xlarge;
	}

	&__text {
		font-size: $large;
		font-style: italic;
		margin: 1em 0;
		text-align: center;
		width: 60%;
	}
}



/* Chapter */

.chapter {
	padding-top: 4.5em;
	margin: 20px 0 100px;

	&__heading {
  display: table;
  white-space: nowrap;
  width: 80%;

	  &:before, 
	  &:after {
	    border-top: 1px solid black;
	    content: '';
	    display: table-cell;
	    position: relative;
	    top: 0.5em;
	    width: 45%;
	  }

	  &:before { 
	  	right: 1.5%; 
	  }
	  &:after { 
	  	left: 1.5%; 
	  }
	}
}



/* Item */

.item {
	@include clearfix;
	margin: 180px 0;
	position: relative;
	width: 90%;

	&__text {
		background: rgba(255,255,255,.9);
		border-bottom: 3px solid $black;
		border-top: 3px solid $black;
		float: left;
		@include clearfix;
		padding: 3em 2em;
		position: relative;
		width: 400px;
		z-index: 1;

		h3 {
			padding: .5em;
		}

		p {
			font-style: italic;
			padding: .5em;
			text-align: center;
		}
	}

	&__link {
		font-family: $stack-san-serif;
		font-size: $xsmall;
		font-weight: 100;
		margin: .6em auto;
		text-align: center;
		text-transform: uppercase;
	}



	&__figure {
		box-shadow: 0 10px 20px rgba(0,0,0,.1), 0 5px 10px rgba(0,0,0,.05);
		position: absolute;
		right: 0;
		top: -20px;
	}

}

.item:nth-child(odd) {

	.item__text {
		float: right;
	}

	.item__figure {
		left: 0;
		right: inherit;
	}

}


/* List */

.list {

	li {
		font-family: $stack-serif;
		margin: 120px auto 180px;
		text-align: center;
	}

	&__num,
	p {
		margin: 2em;
	}

	&__num {
		font-size: $xlarge;
	}

	p {
		font-size: $medium;
	}

	svg {
		width: 90px;
	}

	.eiffel {
	width: 120px;
	}

}





/* Logo SVG */

.logo-foliage {
	width: 320px;
	
	.fern {
		fill: none;
		stroke: $black;
	}

	.pink-flower {
		fill: $mint;
		stroke: $black;
	}

	.vines {
		stroke: $black;
	}

	.white-flower {
		fill: $mint;
		stroke: $black;
	}
}



/* Portfolio */

.portfolio__item {
	padding: 2em 3em;

	img {
		margin: 1em 0;
	}
}

.details {
	align-items: center;
	background-color: $light-cream;
	display: flex;
	flex-direction: column;
	padding: 100px 1em;

	&__text {
		display: flex;

		&-left, &-right {
			display: flex;
			flex-direction: column;
			justify-content: center;
		}

		&-left {
			border-right: 2px solid $dark-grey;
			padding: 1.5em 0;
			text-align: left;
			width: 40%;

			h1 {
				margin-bottom: .2em;
			}
		}

		&-right {
			padding-left: 5%;
			width: 55%;

			p {
				font-family: $stack-serif;
				font-size: $medium;
				font-style: italic;
			}
		}
	}
}

.wrap {
	display: flex;
	flex-wrap: wrap;
}

.tile {
	margin: 2em 1em;
	width: 250px;
}

