/*   MAIN 
 ************/



/* Buttons */

.pink-button {
	background-color: $white;
	margin-top: 5em;
	width: 100px;
	
	&:hover {
		background-color: $rouge;
	}

	a {
		display: block;
		font-family: $stack-san-serif;
		text-transform: uppercase;
		padding: .5em;
	}
}

.simple-button {
	background: none;
	outline: none;
	margin: 3em auto 1em;

	a {
		color: $dark-grey;
		display: block;
		font-family: $stack-serif;
	}
}



/* Border */

.border-top, 
.border-bottom {
	content: "";
	left: 0;
	right: 0;
	position: fixed;
	width: 100vw;
	z-index: 1000;
}

.border-top {
	border-top: 2.5em solid $white;
	box-shadow: 0 2px 2px rgba(0,0,0,.1), 0 2px 2px rgba(0,0,0,.05);
	top: 0;
}

@media (min-width: $m) {
	.border-bottom {
		border-bottom: 2.2em solid $white;
		bottom: 0;
	}

	.border-top {
		border-top: 2.2em solid $white;
		box-shadow: none;
	}
}



/* Front Page */

.hero,
.intro,
.chapter {
	align-items: center;
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	width: 100%;
}

@media (min-width: $m) {
	.hero,
	.intro,
	.chapter {
		min-height: calc(100vh - 4em);
	}
}

.hero, 
.intro {
	justify-content: center;
}

.hero {
	&__wrapper,
	&__text {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
		justify-content: center;
	}

	&__title {
		font-size: $xlarge;
	}

	&__text {
		font-size: $medium;
		font-style: italic;
		margin: 1em 0;
		text-align: center;
		width: 90%;
	}
}

@media (min-width: $s) {
	.hero {

		&__wrapper,
		&__text {
			font-size: $large;
			min-height: auto;
		}

		&__text {
			width: 60%;
		}
	}

}



/* Chapter */

.chapter:not(:first-child) {
	padding-top: 4.5em;
	margin: 20px 0 100px;
}

.chapter {
	&__heading {
  display: table;
  white-space: nowrap;
  width: 80%;

	  &:before, 
	  &:after {
	    border-top: 1px solid $black;
	    content: '';
	    display: table-cell;
	    position: relative;
	    top: 0.5em;
	    width: 45%;
	  }

	  &:before { 
	  	right: 1.5%; 
	  }
	  &:after { 
	  	left: 1.5%; 
	  }
	}
}



/* Item */

.item {
	@include clearfix;
	padding: 80px 0;
	position: relative;

	&__content {
		display: flex;
		flex-direction: column;
		@include clearfix;
		margin: 0 2%;
	}

	&__text, 
	&__figure {
		opacity: 0;
		transform: translateY(50%);
	}

	&__text {
		background: rgba(255,255,255,.8);
		border-right: 4px solid $black;
		@include clearfix;
		margin: 2em .2em;
		padding: 1.5em;
		position: relative;
		text-align: right;
		z-index: 1;

		h3 {
			padding: 2px 0;
		}

		h4 {
			position: absolute;
			top: -2.5em;
			left: 1em;
		}

		p {
			font-style: italic;
			font-size: $medium;
			padding: .5em 0;
		}
	}

	&__links {
		display: flex;
		font-family: $stack-san-serif;
		font-size: $small;
		font-weight: 100;
		justify-content: center;
		margin: 1.5em auto;
		text-align: center;
		text-transform: uppercase;
		width: 100%;

		a {
			padding: 2em;
		}
	}

	&__figure {
		@include clearfix;
		margin: 0 auto;
		width: 90%;
	}

}

@media (min-width: $l) {

	.item {
		&__content {
			display: block;
		}

		&__text {
			border-right: none;
			border-bottom: 4px solid $black;
			float: left;
			padding: 3em 2em;
			margin: 0;
			text-align: left;
			width: 43%;

			h4 {
				bottom: -30px;
				left: -100px;
				top: inherit;
				transform: rotate(-90deg);
			}

		}

		&__links {
			width: 60%;
		}

		&__figure {
			float: right;
			width: 55%;
		}

		h3 {
			padding: .5em 0;
		}

	}

	.item:nth-child(odd) {
		.item__text {
			float: right;

			h3, p {
				text-align: right;
			}

			h4 {
				left: inherit;
				right: -100px;
				transform: rotate(90deg);
			}
		}

		.item__figure {
			float: left;
		}
	}
	
}



/* List */

.list {

	li {
		font-family: $stack-serif;
		margin: 120px auto 180px;
		text-align: center;
	}

	&__num,
	p {
		margin: 2em auto;
	}

	&__num {
		font-size: $xxlarge;
		padding: 0 .5em;
		border-top: 2px solid $black;
	}

	p {
		font-size: $medium;
		width: 90%;
	}

	svg {
		width: 90px;
	}

	.eiffel {
	width: 120px;
	}

}

@media (min-width: $m) {
	.list {

		p {
			width: 60%;
		}

	}
}



/* Logo SVG */

.logo-foliage {
	width: 280px;
	
	.fern {
		fill: none;
		stroke: $black;
	}

	.pink-flower {
		fill: $mint;
		stroke: $black;
	}

	.vines {
		stroke: $black;
	}

	.white-flower {
		fill: $mint;
		stroke: $black;
	}
}

@media (min-width: $m) {
	.logo-foliage {
		width: 320px;
	}
}



/* Individual Fern SVG */

.ferns-full {
	width: 100px;
	height: 50px;
	margin: .5em 0;
}



/* Services */

.banner {
	font-size: $medium;
	font-style: italic;
	margin: 1em;
	text-align: center;
}

@media (min-width: $m) {
	.banner {
		font-size: $large;
	}
}

.services__list {
	display: flex;
	flex-direction: column;
	padding: 1em;
	justify-content: space-between;

	li {
		border-left: 3px solid $black;
		margin: 1em 0;
		opacity: 0;		
		padding-left: 1em;
		text-align: left;
		transform: translateY(50%);
	}

	p {
		font-family: $stack-serif;
		font-size: $medium;
	}

}

@media (min-width: $m) {
	.services__list {
		flex-direction: row;

		li {
			margin: 1em;
			padding: 0 1em;
		}

	}
}



/* Portfolio */

.portfolio__item {
	margin: 0 auto 4em;

	img {
		margin: 1.5em 0;
	}

	.boxshadow img {
		box-shadow: 0 10px 20px rgba(0,0,0,.1), 0 5px 10px rgba(0,0,0,.05);
	}

}

.portfolio__container {
	display: flex;
	flex-direction: column;
	width: 75%;
	margin: 0 auto;
}

.details {
	align-items: center;
	background-color: $oatmeal;
	display: flex;
	flex-direction: column;
	height: 100%;
	padding: 100px 1em;
	transform-origin: top;

	h4 {
		text-align: center;
	}

	&__text {
		display: flex;
		flex-direction: column;
		width: 80%;

		&-left, &-right {
			align-items: center;
			display: flex;
			flex-direction: column;
			justify-content: center;
			opacity: 0;
		}

		&-left {
			border-top: 2px solid $dark-grey;
			padding: 1.5em 0;
			text-align: left;
			width: 100%;

			h1 {
				margin-bottom: .2em;
			}
		}

		&-right {
			text-align: center;
			width: 100%;

			p {
				font-family: $stack-serif;
				font-size: $medium;
				font-style: italic;
			}
		}
	}
}

@media (min-width: $m) {
	
	.details {

		&__text {
			flex-direction: row;

			&-left {
				border-top: none;
				border-right: 2px solid $dark-grey;
				width: 40%;
			}

			&-right {
				width: 55%;
				padding-left: 5%;
				text-align: left;
			}
		}

	}

}

.wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.tile {
	width: 55%;
}

@media (min-width: $s) {

	.tile {
		width: 30%;
	}

	.wrap {
		justify-content: space-between;
	}

}

